<a href="https://colab.research.google.com/github/hiroshi-Git-Py/git_tutorial/blob/main/streamlit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **■streamlit**

インストールする


```
pip install streamlit
```

In [ ]:
import streamlit as st
import numpy as np
import pandas as pd
from PIL import Image

# **■タイトル**
st.title('')

In [ ]:
st.title('streamlit 入門')

# **■データフレームを書き込み。**
dataframe は表の縦横サイズ指定できる。動的
ハイライトつけられる。
table は静的
```
st.dataframe(df.style.highlight_max(axis=0),width=100,height=100)
st.table(df.style.highlight_max(axis=0),width=100,height=100)

```

In [ ]:
df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40]
})

df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [ ]:
st.write(df)

# **■マジックコマンド**
マークダウン
```
"""
# 章
## 節
### 項

```python
import streamlit as st
import numpy as np
import pandas as pd
```

"""
```

# **■チャートを描く**
dfにランダムでデータを入れる。

In [ ]:
df = pd.DataFrame(
    np.random.rand(20,3),
    columns=['a','v','c']
)
df

           a         v         c
0   0.851610  0.493037  0.321313
1   0.619669  0.909721  0.265606
2   0.356198  0.175157  0.263157
3   0.291290  0.342727  0.281542
4   0.812911  0.064097  0.587612
5   0.439723  0.971583  0.726633
6   0.456136  0.630569  0.824969
7   0.441932  0.673708  0.668645
8   0.342412  0.461954  0.470771
9   0.169233  0.058638  0.205216
10  0.754791  0.992207  0.414395
11  0.671287  0.774888  0.146868
12  0.292078  0.656982  0.016799
13  0.852584  0.081977  0.822575
14  0.871776  0.940788  0.275647
15  0.812526  0.728790  0.511491
16  0.956486  0.651792  0.429239
17  0.580275  0.645307  0.321974
18  0.493441  0.151250  0.877029
19  0.657640  0.694427  0.200125

# **■チャートの種類**


```
①折れ線グラフ
st.line_chart(df)
②エリアグラフ
st.area_chart(df)
③棒グラフ
st.bar_chart(df)
```

# **■マップをプロット**
緯度と経度をdfに入れる。



```
st.map(df)
```

In [ ]:
df = pd.DataFrame(
    np.random.rand(100,2)/[50,50]+[35.69,139.70],
    columns=['lat','lon']
)
df

          lat         lon
0   35.704832  139.706761
1   35.694443  139.710983
2   35.701271  139.706586
3   35.692123  139.709352
4   35.704500  139.716887
..        ...         ...
95  35.708248  139.702869
96  35.690339  139.710781
97  35.698521  139.713629
98  35.703866  139.708721
99  35.700798  139.708294

[100 rows x 2 columns]

# **■画像を表示**

画像データを読み込む。

captionは写真の下に表示するコメントみたいなものかな。

use_column_width=Trueは、実際のレイアウト幅に合わせて表示する。
```
from PIL import Image
img = Image.open('sample.jpg')
st.image(img,caption='aoi',use_column_width=True)
```

In [ ]:
st.write('display image')
img = Image.open('IMG_5165.JPG')
st.image(img,caption='aoi',use_column_width=True)

# **■動画の表示**

ファイルを読み込み

st.videoで表示

```
video_file = open('joined_video_33723519df344de29cfe06a2f8597005.MP4', 'rb')
video_bytes = video_file.read()
st.video(video_bytes)

```

# **■インタラクティブなウィジェット**


*   チェックボックス
if文で作成(true or false)
```
if st.checkbox('Show Image'):
    img = Image.open('IMG_5165.JPG')
    st.image(img,caption='aoi',use_column_width=True)
```


*   セレクトボックス
```
option = st.selectbox(
    '好きな数字は？？',
    list(range(1,11))
)
'好きな数字は、',option,'です。'
```


*   テキスト入力
```
st.write('Interactive Widgets')
text = st.text_input('趣味は？？')
'趣味は',text,'です。'
```



*   スライダー
```
con = st.slider('コンディションは？',0,100,20)
'コンディションは、',con
```

# **■レイアウトを整える**
サイドバーを追加

```
text = st.sidebar.text_input('趣味は？？')
con = st.sidebar.add_rowsslider('コンディションは？',0,100,20)
```
①2カラムレイアウトにする。

左のカラム→ボタン

右のカラム→テキスト



```
left_column,right_column = st.beta_columns(2) '引数の数がカラム数になる
button = left_column.button('右カラムに文字を表示')
if button:
    right_column.write('ここは右カラム')
```
②expanderの追加

QAなどで使う

```
expander = st.beta_expander('問い合わせ')
expander.write('答え')
```

# **■プログレスバーの表示**


```
latest_iteration = st.empty()
bar = st.progress(0)

for i in range(100):
    latest_iteration.text(f'Iteration {i +1}')
    bar.progress(i +1)
    time.sleep(0.1)
```